<!DOCTYPE html>
<html>
  <head>
    <title>Pairs2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice.present? %> 
      <p><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
