<!DOCTYPE html>
<html>
  <head>
    <title>Pairs2 | <%= yield(:title) %></title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container" id="flash_messages">
      <%= flash_messages %>
    </div>

    <%= yield %>
  </body>
</html>
